[submodule "java/daccad"]
	path = daccad
	url = git@bitbucket.org:AubertKato/daccad.git
	ignore = dirty
[submodule "bioneat"]
	path = bioneat
	url = git@bitbucket.org:AubertKato/bioneat.git
	ignore = dirty
